<p id="notice"><%= notice %></p>

<h1>Listing Cadastros</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nasc</th>
      <th>Endereco</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Cep</th>
      <th>Genero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastros.each do |cadastro| %>
      <tr>
        <td><%= cadastro.nome %></td>
        <td><%= cadastro.nasc %></td>
        <td><%= cadastro.endereco %></td>
        <td><%= cadastro.bairro %></td>
        <td><%= cadastro.cidade %></td>
        <td><%= cadastro.estado %></td>
        <td><%= cadastro.cep %></td>
        <td><%= cadastro.genero %></td>
        <td><%= link_to 'Show', cadastro %></td>
        <td><%= link_to 'Edit', edit_cadastro_path(cadastro) %></td>
        <td><%= link_to 'Destroy', cadastro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cadastro', new_cadastro_path %>
